/****************************
==============================
   table of content 
==============================

1.    Import files
2.    Header
3.    Banner
4.    About Us
5     Service
6.    Video 
7.    Feature
8.    What we do
9.    Counter
10.   Team 
11.   Skill 
12.   Advisor 
13.   Logo Button 
14.   Blog 
15.   Footer 

******************************/


//Import files
@import "variables";
@import 'base';


/*=======================
//  Header
========================*/
.header {
    background-color: $bg-1;

    ul {
        li {
            margin-right: 40px;

            a {
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
            }

            &:last-child {
                margin-right: 0px;
            }
        }

    }


}



/*=======================
//  Header
========================*/



/*=======================
//  About Us
========================*/
.about-content {
    // width: 95%;

    h2 {
        margin-bottom: 32px;
    }

    ul {
        margin-bottom: 38px;

        li {
            font-weight: 600;
            font-size: 20px;
            line-height: 40px;
            color: $text-color-3;
        }

    }
}



/*=======================
//  Service 
========================*/
.service {
    background-color: $bg-2;
    background-image: url('../img/service-bg.svg');
    background-position: right bottom;
    background-size: 20rem;
    background-repeat: no-repeat;
    position: relative;

    .section-title-2 {
        margin-bottom: 69px;
    }

    .service-card {
        text-align: center;
        background: $white-1;
        // align-items: center;
        max-width: 370px;
        min-height: 366px;
        padding: 60px 50px 50px 50px;



        img {
            margin-bottom: 33px;
        }

        .card-title {
            font-weight: 600;
            font-size: 25px;
            line-height: 33px;
            color: $black-1;
            margin-bottom: 8px;

        }

        &::after {
            position: absolute;
            width: 96%;
            height: 2%;
            content: "";
            background-color: #ECEEED;
            top: 100%;
            left: 2%;
            right: 0;
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover::after {
            background-color: $primary-color;
        }
    }

}


/*=======================
//  Video 
========================*/




/*=======================
//  Feature 
========================*/
.feature {
    h2 {
        text-align: center;
    }
}


/*=======================
//  What we do 
========================*/
.what-we {
    .container {
        // padding: 0 50px;
    }

    .row {
        background-color: $black-1;
        padding: 80px 40px;
    }

    .what-we-content {

        .section-title-2 {
            color: $white-1;
            margin-bottom: 32px;
        }

        p {
            margin-bottom: 17px;
            color: $grey-4;
        }

        ul {
            margin-bottom: 50px;
            list-style-image: url(../img/list-style-type.svg);

            li {
                color: $grey-4;
                font-size: 20px;
                padding-left: 20px;
            }
        }

    }
}


/*=======================
//  Counter 
========================*/
.counter {
    background-color: $bg-3;
    padding: 0 50px;

    .counter-card {
        text-align: center;

        img {
            margin-bottom: 18px;
        }

        h4 {
            font-weight: 700;
            font-size: 54px;
            line-height: 57px;
        }
    }
}


/*=======================
//  Team 
========================*/
.team {
    .section-title-2 {
        margin-bottom: 67px;
    }

    .card {
        border: none;
        text-align: center;

        img {
            margin-bottom: 17px;
        }

        .card-title {
            font-weight: 600;
            font-size: 26px;
            line-height: 34px;
        }
    }
}


/*=======================
//  Skill
========================*/

.skill {

    .skill-content {
        .section-title-1 {
            margin-bottom: 32px;
        }

        p {
            margin-bottom: 50px;
        }
    }
}


/*=======================
//  Advisor
========================*/
.advisor {
    .advisor-img {
        position: relative;

        .comma-img {
            position: relative;
        }

        .advisor-img-1 {
            position: absolute;
            // top: 60%;
            // left: 34%;
        }

        .advisor-img-2 {
            position: absolute;
            // left: 15%;
            // top: 80%;

            img {
                border: 14px solid white;
                border-radius: 50%;
            }
        }
    }
}


/*=======================
//  Logo Button
========================*/





/*=======================
//  Blog
========================*/
.blog {

    .blog-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        align-items: center;
    }

    .blog-content {
        .card {

            transition: 0.5s ease;

            .blog-img {
                overflow: hidden;
            }

            &:hover {
                color: $primary-color;
            }

            &:hover img {
                transform: scale(1.1);
                transition: all 0.5s ease-in-out;


            }

            &::after {
                display: none;
                position: absolute;
                width: 100%;
                height: 4px;
                content: "";
                background-color: $primary-color;
                top: 100%;
                right: 0;
                transition: 0.5s ease;
            }

            &:hover::after {
                display: block;

            }

            .card-body {
                padding: 40px;
            }

            .post-date {
                color: $primary-color;
                font-weight: 600;
                font-size: 22px;
                line-height: 29px;

                i {
                    margin-right: 12px;
                }

            }

            .card-title {
                font-weight: 700;
                font-size: 25px;
                line-height: 33px;
            }

            a {
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                color: $black-1;
                transition: .5s ease;

                &:hover{
                    color: $primary-color;
                }


                i {
                    margin-left: 8px;
                }


            }
        }
    }
}



/*=======================
//  Footer
========================*/

.footer {
    background-color: $black-1;
    padding-top: 80px;
    color: #788B9A;

    .subscription {
        margin-bottom: 72px;

        .footer-brand {
            padding-right: 80gripx;

            .footer-logo {
                font-weight: 700;
                font-size: 45px;
                line-height: 59px;
                color: $white-1;
                margin-bottom: 10px;
            }

            .footer-logo-text {
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: #788B9A;
            }
        }

        .subscription-box {
            border: 2px solid;
            padding: 50px;

            .subscription-box-title {
                color: $white-1;
                font-weight: 700;
                font-size: 25px;
                line-height: 33px;
                margin-bottom: 28px;
            }

            form {
                display: flex;
                justify-content: space-between;

                input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #788B9A;
                    color: #788B9A;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    width: 130%;
                    padding: 16px 0;

                    &:focus {
                        box-shadow: none;
                    }
                }

                button {
                    border: none;
                }

            }
        }
    }

    .footer-menu {
        .menu-title {
            font-weight: 700;
            font-size: 25px;
            line-height: 33px;
            color: $white-1;
            margin-bottom: 23px;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                margin-bottom: 28px;

            }
        }

        .section-text {
            color: #788B9A;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
        }

        .instagram-img{
            .card {
                border: none;
                position: relative;


                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: $primary-color;

                    &:hover{
                        opacity: 0.75;
                    }
                  }
                  
                  
            }

            
        }
    }

    .back-to-top {
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;


        &::after {
            position: absolute;
            width: 100%;
            height: 2px;
            content: "";
            background-color: #788B9A;
            transition: all 0.5s ease-in-out;
            top: 50%;

        }

        a {
            z-index: 1;
            text-decoration: none;

            i {
                border: 2px solid #788B9A;
                border-radius: 100px;
                height: 74px;
                width: 74px;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primary-color;
                background-color: $black-1;



            }
        }
    }


    .copyright-content {
        padding-bottom: 26px;

        display: flex;
        justify-content: space-between;

        .copyright {
            a {
                color: $primary-color;
                text-decoration: none;
            }
        }

        .privacy {
            a {
                color: #788B9A;
                text-decoration: none;
            }
        }
    }


}