// Color
$white-1:#FFFFFF;
$white-2:#FCFCFC;
$white-3: #E5E5E5;
$white-4: #F5F5F5;
$white-5: #E8E8E8;

$black-1: #14212A;
$black-2: #162029;
$black-3: #000000;

$grey-1: #616161; 
$grey-2: #788B9A; 
$grey-3: #C5C6C8; 
$grey-4: #C2D9EB; 



$primary-color: #FF4917;
$secondary-color: $black-1;
$tertiary-color: $grey-1;
$quinary-color: $black-2;
$senary-color: $white-4;
$tertiary-light-color: $white-5;


// BG Color
$bg-1: $white-1;
$bg-2: $white-3;
$bg-3: $white-4;
$bg-4: $black-1;


// Text Color
$title-color-1: $white-1;
$title-color-2: $black-1;

$text-color-1: $grey-1;
$text-color-2: $grey-4;
$text-color-3: $black-1;
$text-color-4: $grey-2;


// Border Radius