/****************************
==============================
   table of content 
==============================

1.    Import files
2.    Header
3.    Banner
4.    About Us
5     Service
6.    Video 
7.    Feature
8.    What we do
9.    Counter
10.   Team 
11.   Skill 
12.   Advisor 
13.   Logo Button 
14.   Blog 
15.   Footer 

******************************/
/* Table of Content
====================

1. typography
2. Global styles

====================*/
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* ===========================
// Typography
==============================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #616161;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 106px;
  color: #FFFFFF;
}

h2 {
  font-weight: 700;
  font-size: 100px;
  line-height: 57px;
  color: #14212A;
}

/*=======================
//  Selection
========================*/
::-moz-selection {
  color: #FFFFFF;
  background: #FF4917;
}
::selection {
  color: #FFFFFF;
  background: #FF4917;
}

/*=======================
//  Section
========================*/
section {
  padding-top: 120px;
  padding-bottom: 130px;
}

/*=======================
//  Text
========================*/
.section-name-1 {
  color: #FF4917;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  position: relative;
  left: 55px;
}
.section-name-1::before {
  position: absolute;
  width: 30px;
  height: 3px;
  content: "";
  background-color: #FF4917;
  left: -50px;
  top: 15px;
}

.section-name-2 {
  color: #FF4917;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.section-name-2::before {
  position: absolute;
  width: 30px;
  height: 3px;
  content: "";
  background-color: #FF4917;
  left: 425px;
  top: 15px;
}
.section-name-2::after {
  position: absolute;
  width: 30px;
  height: 3px;
  content: "";
  background-color: #FF4917;
  right: 425px;
  top: 15px;
}

.section-title-1, .section-title-2 {
  color: #14212A;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -0.02em;
}

.section-title-2 {
  text-align: center;
}

.section-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #616161;
}

/*=======================
//  buttons
========================*/
.my-btn, .btn-white, .btn-orange, .btn-black {
  border-radius: 34px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

.btn-black {
  background: #162029;
  color: #FFFFFF;
}

.btn-orange {
  background: #FF4917;
  color: #FFFFFF;
}

.btn-white {
  background: #FFFFFF;
  color: #162029;
}

.logo-btn {
  background-color: #E8E8E8;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: 28px 64px;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.logo-btn:hover {
  background-color: #FF4917;
  color: #FFFFFF;
}

/*=======================
//  List
========================*/
/*=======================
//  Corner
========================*/
.top-deep-corner {
  width: 0;
  height: 0;
  border-top: 435px solid #FF4917;
  border-right: 423px solid transparent;
  position: absolute;
  top: 0;
}

.top-medium-corner {
  width: 0;
  height: 0;
  border-top: 435px solid rgba(255, 73, 23, 0.5);
  border-right: 423px solid transparent;
  position: absolute;
  top: 0;
}

.top-light-corner {
  width: 0;
  height: 0;
  border-top: 535px solid rgba(255, 73, 23, 0.5);
  border-right: 523px solid transparent;
  position: absolute;
  top: 0;
}

.bottom-deep-corner {
  width: 0;
  height: 0;
  border-bottom: 249px solid rgba(255, 73, 23, 0.8);
  border-right: 354px solid transparent;
  position: absolute;
  bottom: 0;
}

.bottom-light-corner {
  width: 0;
  height: 0;
  border-bottom: 299px solid rgba(255, 73, 23, 0.5);
  border-right: 454px solid transparent;
  position: absolute;
  bottom: 0;
}

/*=======================
//  Header
========================*/
.header {
  background-color: #FFFFFF;
  padding: 1rem 10rem 1rem 20rem;
}
.header ul li {
  margin-right: 40px;
}
.header ul li a {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.header ul li:last-child {
  margin-right: 0px;
}

/*=======================
//  Banner
========================*/
.banner {
  position: relative;
  padding-top: 0;
}
.banner .top-deep-corner {
  opacity: 0.5;
}
.banner .carousel-item {
  position: relative;
}
.banner .carousel-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #272727;
}
.banner .carousel-item .carousel-caption {
  text-align: left;
  position: absolute;
  top: 18%;
}
.banner .carousel-item .carousel-caption p {
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: 0.68em;
  text-transform: uppercase;
}
.banner .carousel-item .carousel-caption h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 106px;
}
.banner .banner-button {
  position: absolute;
  top: 60%;
  z-index: 1;
  left: 15%;
}
.banner .banner-button a {
  margin-right: 20px;
}

/*=======================
//  About Us
========================*/
.about-content h2 {
  margin-bottom: 32px;
}
.about-content ul {
  margin-bottom: 38px;
}
.about-content ul li {
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #14212A;
}

/*=======================
//  Service 
========================*/
.service {
  background-color: #E5E5E5;
  background-image: url("../img/service-bg.svg");
  background-position: right bottom;
  background-size: 20rem;
  background-repeat: no-repeat;
  position: relative;
}
.service .section-title-2 {
  margin-bottom: 69px;
}
.service .service-card {
  text-align: center;
  background: #FFFFFF;
  max-width: 370px;
  min-height: 366px;
  padding: 60px 50px 50px 50px;
}
.service .service-card img {
  margin-bottom: 33px;
}
.service .service-card .card-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  color: #14212A;
  margin-bottom: 8px;
}
.service .service-card::after {
  position: absolute;
  width: 96%;
  height: 2%;
  content: "";
  background-color: #ECEEED;
  top: 100%;
  left: 2%;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.service .service-card:hover {
  cursor: pointer;
}
.service .service-card:hover::after {
  background-color: #FF4917;
}

/*=======================
//  Video 
========================*/
.video {
  position: relative;
}
.video .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #272727;
}
.video .video-content {
  position: absolute;
}

/*=======================
//  Feature 
========================*/
.feature .feature-content .section-title-2 {
  text-align: center;
  margin-bottom: 67px;
}
.feature .feature-content .card {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.feature .feature-content .card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.feature .feature-content .card .free-consulting {
  position: absolute;
  bottom: 0;
  padding-left: 25px;
  padding-bottom: 15px;
}
.feature .feature-content .card .free-consulting a {
  text-decoration: none;
  color: #FFFFFF;
}
.feature .feature-content .card .free-consulting a i {
  font-size: 35px;
}
.feature .feature-content .card .free-consulting a h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
}
.feature .feature-content .card .free-consulting a p {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

/*=======================
//  What we do 
========================*/
.what-we .row {
  background-color: #14212A;
  padding: 80px 40px;
}
.what-we .what-we-content .section-title-1, .what-we .what-we-content .section-title-2 {
  color: #FFFFFF;
  margin-bottom: 32px;
}
.what-we .what-we-content p {
  margin-bottom: 17px;
  color: #C2D9EB;
}
.what-we .what-we-content ul {
  margin-bottom: 50px;
  list-style-image: url(../img/list-style-type.svg);
}
.what-we .what-we-content ul li {
  color: #C2D9EB;
  font-size: 20px;
  padding-left: 20px;
}

/*=======================
//  Counter 
========================*/
.counter {
  background-color: #F5F5F5;
  padding: 0 50px;
}
.counter .counter-card {
  text-align: center;
}
.counter .counter-card img {
  margin-bottom: 18px;
}
.counter .counter-card h4 {
  font-weight: 700;
  font-size: 54px;
  line-height: 57px;
}

/*=======================
//  Team 
========================*/
.team .section-title-2 {
  margin-bottom: 67px;
}
.team .card-holder .card {
  border: none;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.team .card-holder .card .card-img {
  position: relative;
}
.team .card-holder .card .card-img a {
  position: absolute;
  left: 0;
  color: #FFFFFF;
  font-size: 1.3rem;
  padding: 0.8rem;
}
.team .card-holder .card .card-img .top-deep-corner {
  border-top: 92px solid #FF4917;
  border-right: 80px solid transparent;
  top: 0;
}
.team .card-holder .card .card-img .top-light-corner {
  border-top: 107px solid rgba(255, 73, 23, 0.5);
  border-right: 95px solid transparent;
  top: 0;
}
.team .card-holder .card .card-img .bottom-right-corner {
  display: none;
  width: 0;
  height: 0;
  border-bottom: 130px solid #FF4917;
  border-left: 130px solid transparent;
  position: absolute;
  right: -5%;
  bottom: -4%;
  z-index: -1;
}
.team .card-holder .card:hover .bottom-right-corner {
  display: block;
}
.team .card-holder .card-body {
  text-align: center;
}
.team .card-holder .card-body .card-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
}

/*=======================
//  Skill
========================*/
.skill .skill-content .section-title-1, .skill .skill-content .section-title-2 {
  margin-bottom: 32px;
}
.skill .skill-content p {
  margin-bottom: 50px;
}

/*=======================
//  Advisor
========================*/
.advisor .advisor-img {
  position: relative;
  margin: 0 5rem 0 0;
}
.advisor .advisor-img .advisor-img-1 {
  position: absolute;
  top: 50%;
  left: 45%;
}
.advisor .advisor-img .advisor-img-2 {
  position: absolute;
  top: 75%;
  left: 20%;
}
.advisor .advisor-img .advisor-img-2 img {
  border: 10px solid white;
  border-radius: 50%;
}
.advisor .advisor-content .section-title-1, .advisor .advisor-content .section-title-2 {
  margin-bottom: 75px;
}
.advisor .advisor-content .testimonial {
  width: 550px;
}
.advisor .advisor-content .testimonial .section-text {
  position: relative;
  text-indent: 40px;
  margin-bottom: 36px;
}
.advisor .advisor-content .testimonial .section-text::before {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  content: "";
  background: url("../img/quote (1).svg") no-repeat center center/cover;
}
.advisor .advisor-content .testimonial .section-text::after {
  position: absolute;
  width: 25px;
  height: 25px;
  content: "";
  background: url("../img/quote (2).svg") no-repeat center center/cover;
}
.advisor .advisor-content .testimonial .advisor-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advisor .advisor-content .testimonial .advisor-name .name-designtaion h6 {
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
}
.advisor .advisor-content .testimonial .advisor-name .name-designtaion p {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #FF4917;
}
.advisor .advisor-content .owl-carousel {
  position: relative;
}
.advisor .advisor-content .owl-carousel .owl-nav {
  margin-top: 62px;
}
.advisor .advisor-content .owl-carousel .owl-nav .owl-prev,
.advisor .advisor-content .owl-carousel .owl-nav .owl-next {
  position: absolute;
  font-size: 2.5rem;
  color: #C5C6C8;
}
.advisor .advisor-content .owl-carousel .owl-nav .owl-prev:hover,
.advisor .advisor-content .owl-carousel .owl-nav .owl-next:hover {
  color: #FF4917;
}
.advisor .advisor-content .owl-carousel .owl-nav .owl-prev {
  bottom: -70px;
}
.advisor .advisor-content .owl-carousel .owl-nav .owl-next {
  left: 2rem;
}

/*=======================
//  Logo Button
========================*/
/*=======================
//  Blog
========================*/
.blog .blog-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog .blog-content .card {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.blog .blog-content .card .blog-img {
  overflow: hidden;
}
.blog .blog-content .card:hover {
  color: #FF4917;
}
.blog .blog-content .card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.blog .blog-content .card::after {
  display: none;
  position: absolute;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #FF4917;
  top: 100%;
  right: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.blog .blog-content .card:hover::after {
  display: block;
}
.blog .blog-content .card .card-body {
  padding: 40px;
}
.blog .blog-content .card .post-date {
  color: #FF4917;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
}
.blog .blog-content .card .post-date i {
  margin-right: 12px;
}
.blog .blog-content .card .card-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
}
.blog .blog-content .card a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #14212A;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.blog .blog-content .card a:hover {
  color: #FF4917;
}
.blog .blog-content .card a i {
  margin-left: 8px;
}

/*=======================
//  Footer
========================*/
.footer {
  background-color: #14212A;
  padding-top: 80px;
  color: #788B9A;
}
.footer .subscription {
  margin-bottom: 72px;
}
.footer .subscription .footer-brand {
  padding-right: 80gripx;
}
.footer .subscription .footer-brand .footer-logo {
  font-weight: 700;
  font-size: 45px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.footer .subscription .footer-brand .footer-logo-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #788B9A;
}
.footer .subscription .subscription-box {
  border: 2px solid;
  padding: 50px;
}
.footer .subscription .subscription-box .subscription-box-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 28px;
}
.footer .subscription .subscription-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .subscription .subscription-box form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #788B9A;
  color: #788B9A;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  width: 130%;
  padding: 16px 0;
}
.footer .subscription .subscription-box form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.footer .subscription .subscription-box form button {
  border: none;
}
.footer .footer-menu .menu-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  color: #FFFFFF;
  margin-bottom: 23px;
}
.footer .footer-menu ul {
  list-style: none;
  padding-left: 0;
}
.footer .footer-menu ul li {
  margin-bottom: 28px;
}
.footer .footer-menu .section-text {
  color: #788B9A;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.footer .footer-menu .instagram-img .card {
  border: none;
  position: relative;
}
.footer .footer-menu .instagram-img .card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #FF4917;
}
.footer .footer-menu .instagram-img .card .overlay:hover {
  opacity: 0.75;
}
.footer .back-to-top {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.footer .back-to-top::after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #788B9A;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 50%;
}
.footer .back-to-top a {
  z-index: 1;
  text-decoration: none;
}
.footer .back-to-top a i {
  border: 2px solid #788B9A;
  border-radius: 100px;
  height: 74px;
  width: 74px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF4917;
  background-color: #14212A;
}
.footer .copyright-content {
  padding-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .copyright-content .copyright a {
  color: #FF4917;
  text-decoration: none;
}
.footer .copyright-content .privacy a {
  color: #788B9A;
  text-decoration: none;
}